NODE_ENV=production
PORT=5000
MONGODB_URI=your_mongodburl
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=3d
FRONTEND_URL=Your_frontend_url
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=300
AUTH_RATE_LIMIT_MAX=20

# Microsoft Graph API (Office365 Integration)
MS_TENANT_ID=your_tenant_id
MS_CLIENT_ID=your_client_id
MS_CLIENT_SECRET=your_client_secret
# Use frontend URL for redirect (must match Azure AD configuration)
MS_REDIRECT_URI=your_frontend_url/auth/callback


REDIS_URL=your-redis-url